html {
 box-sizing: border-box;
 background:#fff;
}

*, *:before, *:after {
 box-sizing: inherit;
}

body {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  color: #333333;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.wrapper-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.back-button {
  color: #4A89DC;
  font-size: 2.5rem;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

/* Parent or child select */
#select-wrapper a {
  border-radius: 1rem;
  box-shadow: 0 0 .5rem #bdbdbd;
  padding: .5rem 1rem;
  margin-top: 1rem;
  width: 75%;
  text-align: center;
  text-decoration: none;
  color: #333333;
}

/* Login Selection */
#login-options-wrapper div {
  border-radius: 1rem;
  box-shadow: 0 0 .5rem #bdbdbd;
  padding: .5rem 1rem;
  margin-top: 1rem;
  width: 75%;
  text-align: center;
}

#login-options-wrapper div a {
  text-decoration: none;
}

#login-options-wrapper div i {
  padding-left: .5rem;
}

#login-facebook {
  background-color: #3b5998;
}

#login-facebook a {
  background-color: #3b5998;
  color: #ffffff;
}

#login-facebook i {
  color: #ffffff;
}

#login-google {
  background-color: #d34836;
}

#login-google a {
  background-color: #d34836;
  color: #ffffff;
}

#login-google i {
  background-color: #d34836;
  color: #ffffff;
}

#login-email a {
  color: #333333;
}

#unavailableModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#unavailableModal-content {
  background-color: #fefefe;
  margin: 15% auto;
  margin-top: 50%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: .5rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Login Email */
#login-wrapper form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75%;
}

#login-wrapper form input {
  margin: .35rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 .5rem #bdbdbd;
  padding: .5rem 1rem;
  margin-top: 1rem;
  border: none;
}

#login-wrapper form button {
  margin: .35rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 .5rem #bdbdbd;
  padding: .5rem 1rem;
  margin-top: 1rem;
  border: none;
  width: 50%;
  align-self: center;
  background-color: #ffffff;
}

#login-wrapper form a {
  text-decoration: none;
  color: #333333;
}

#login-wrapper a {
  text-decoration: none;
}

#login-wrapper a p {
  text-decoration: none;
  color: #333333;
  font-weight: 700;
  font-size: 1.5rem;
}

/* Signup Email */
#signup-wrapper form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75%;
}

#signup-wrapper form input {
  margin: .35rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 .5rem #bdbdbd;
  padding: .5rem 1rem;
  margin-top: 1rem;
  border: none;
}

#signup-wrapper form button {
  margin: .35rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 .5rem #bdbdbd;
  padding: .5rem 1rem;
  margin-top: 1rem;
  border: none;
  width: 50%;
  align-self: center;
  background-color: #ffffff;
}

#signup-wrapper form input[type="checkbox"] {
  box-shadow: 0 0 0 #bdbdbd;
  align-self: center;
}

/* Map Viewer of Parent App*/
#host-code-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: left;
  padding-left: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding-top: 2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4CD964;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CD964;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#code-container {
  border-bottom: solid 2px #bdbdbd;
  background-color: #f1f1f1;
  padding: 0 .5rem;
  margin-left: 1.2rem;
  min-width: 40%;
  text-align: center;
}

#code-container p {
  margin: .4rem;
}

#map-selection-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
  justify-content: space-between;
  align-items: center;
}

#map-container {
  display: flex;
  align-items: center;
}

#map-container img {
  width: 18rem;
}

#basement {
  display: none;
}

#ground-floor {
  display: block;
}

#first-floor {
  display: none;
}

#second-floor {
  display: none;
}

#mapSlider {
  -webkit-appearance: none;
  width: 100%;
  height: .2rem;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transform: rotate(270deg);
}

#mapSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4A89DC;
  cursor: pointer;
}

#mapSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4A89DC;
  cursor: pointer;
}


#rulesModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.rules-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: .5rem;
}

/* Parents Trophy Viewer */
#parent-trophy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parent-trophy-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
  border-radius: .4rem;
  box-shadow: 0 0 .5rem #555555;
  margin-top: 2.5rem;
}

.parent-trophy-container span {
  background-color: #DA4453;
  padding: 1.6rem 1rem;
  border-radius: .5rem 0 0 .5rem;
}

.parent-trophy-container span i {
  color: #FFCE54;
}

.parent-trophy-content {
  display: flex;
  flex-direction: column;
  font-size: .6rem;
  width: 100%;
  padding: 0 1.2rem;
}

.parent-trophy-content h3 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

#parent-locked {
  background-color: #bdbdbd;
}

#parent-locked i {
  color: #333333;
}
/* Connect Child */
#connect-wrapper {
  align-content: center;
  text-align: center;
}

#connect-wrapper h1 {
  font-size: 1.5em;
}

#connect-wrapper form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 75%;
}

#connect-wrapper form input {
  border-bottom: solid 2px #bdbdbd;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f1f1f1;
  padding: 1rem .5rem .5rem .5rem;
}

#connect-wrapper form button {
  margin: .35rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 .5rem #bdbdbd;
  padding: .5rem 1rem;
  margin-top: 1rem;
  border: none;
  width: 50%;
  align-self: center;
  background-color: #ffffff;
}

/* Select route */
#select-route-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 2rem;
}

#select-route-wrapper a {
  border-radius: 1rem;
  box-shadow: 0 0 .5rem #bdbdbd;
  padding: .5rem 1rem;
  margin-top: 1rem;
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: #333333;
}

#route-card {
  width: 75%;
  background-color: #ffffff;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem #bdbdbd;
  margin: 1rem 0;
}

#route-card h3 {
  margin: 0;
}

#route-card p {
  margin: 0;
}

#route-card a {
  box-shadow: 0 0 0 #ffffff;
}

#select-container {
  display: flex;
  flex-direction: column;
}

/* Question Children */
#questions-main-wrapper {
  background-color: #4A89DC;
}

#question-wrapper progress {
  width: 75%;
  position: absolute;
  top: 12.5%;
}

#card-fail {
  float: right;
  font-weight: 700;
  color: #DA4453;
}

#card {
  width: 75%;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem #555555;
}

#card div {
  display: flex;
  flex-wrap: wrap;
}

#card a {
  width: 45%;
  margin: 2.5% 2.5%;
  border-radius: .5rem;
  padding: 1rem;
  border: none;
  background-color: #ffffff;
  color: #333333;
  box-shadow: 0 0 .3rem #bdbdbd;
  text-decoration: none;
  text-align: center;
}

#clue-container {
  color: #ffffff;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

#clue-container p {
  margin-left: 1rem;
  padding: .5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: .25rem;
}

/* child victory */
#child-victory-main-wrapper {
  background-color: #967ADC;
}

#child-victory-wrapper {
  margin: 0 2rem;
}

#child-victory-wrapper i {
  color: #FFCE54;
  font-size: 5rem;
}

/* Child Trophy Viewer */
#child-trophy-main-wrapper {
  background-color: #967ADC;
}

#child-trophy-wrapper {
  flex-wrap: wrap;
  flex-direction: unset;
  align-content: center;
}

#trophy-content {
  text-align: center;
  color: #ffffff;
}

#trophy-content h1 {
  margin: 0;
}

.child-trophy {
  background-color: #ffffff;
  border-radius: 100%;
  padding: 1.3rem 1.5rem;
  margin: .5rem 1rem;
}

.child-trophy i {
  color: #FFCE54;
  font-size: 3rem;
}

.locked-child {
  background-color: #bdbdbd;
  padding: 1.3rem 1.9rem;
}

.locked-child i {
  color: #333333;
}

#route-select-button {
  background-color: #ffffff;
  border-radius: 5rem;
  width: 75%;
  box-shadow: 0 0 .3rem #bdbdbd;
  margin-top: 2rem;
  padding: 1rem .5rem;
  text-align: center;
  text-decoration: none;
  color: #333333;
}

/* Footer App */
footer {
  color: #333333;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer-app-container {
  border: 1px solid #f1f1f1;
  text-align: center;
  width: 50%;
  text-decoration: none;
  color: #333333;
  padding-top: .5rem;
  background-color: #ffffff;
}

/*||||||||||||||||||||||||||||||||||| Media Queries |||||||||||||||||||||||||||||||||||||||||||*/
